{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Tienda de Computadoras</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'tienda/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img class="logo" src="{% static 'tienda/img/Mi proyecto (1).png' %}" alt="">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}" id='index'>Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ofertas'%}" id='ofertas'>Ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'productos' %}" id='productos'>Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}" id='Contacto'>Contacto</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'carrito' %}" id="carrito">
                            <img src="{% static 'tienda/img/carrito-de-compras.png' %}" width="30" height="30" alt="Carrito de Compras">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inisesion' %}" id"inisesion">
                            <img src="{% static 'tienda/img/usuario.png' %}" width="30" height="30" alt="Iniciar sesión">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="titulo">
        <h1 class="fw-bold fs">Modificar producto</h1>
        <p class="titulo">"HomeComputer"</p>
    </div>
  
    <div class="container login w-25">
        {% if producto %}
        <form action="{% url 'producto_update' producto.id_producto %}" method="POST">
            {% csrf_token %}
            
            <p>ID: <br><input class="w-100" type="number" name="idprod" value="{{ producto.id_producto }}" readonly></p>
            <p>Categoría: <select name="categoria">
                {% for i in categorias %}
                {% if i.descripcion == producto.id_categoria.descripcion %}
                <option value="{{ i.id_categoria }}" selected>{{ i.descripcion }}</option>
                {% else %}
                <option value="{{ i.id_categoria }}">{{ i.descripcion }}</option>
                {% endif %}
                {% endfor %}
            </select></p>
            <p>Nombre: <br><input class="w-100" type="text" name="nombre" value="{{ producto.nombre }}"></p>
            <p>Marca: <br><input class="w-100" type="text" name="marca" value="{{ producto.marca }}"></p>
            <p>Descripción: <br><textarea name="detalle" class="w-100" cols="20" rows="4">{{ producto.descripcion }}</textarea></p>
            <p>Precio: <br><input class="w-100" type="number" name="precio" value="{{ producto.precio }}"></p>
            <p>Stock: <br><input class="w-100" type="number" name="stock" value="{{ producto.stock }}"></p>
            <p>Imagen: <br><input class="w-100" type="file" name="imagen"></p>
            
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Modificar">
        </form>
        {% endif %}
        <br>
    </div>
    <br>
    <div class="text-center fs-5 fst-italic fw-bold">
        {% if mensaje %}
        {{ mensaje }}
        {% endif %}
    </div>
    
    <br>
    <br>
    <!-- Aqui va lo ultimo de abajo -->
    </section>
    <footer class="bg-dark text-light">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-4">
                    <h3>Contacto</h3>
                    <p class="pfot">Teléfono: 555-123-4567</p>
                    <p class="pfot">Email: info@HomeComputer.com</p>
                    <p class="pfot">Dirección: 1 Norte 213, Viña del mar</p>
                    <br>
                    <p class="pfot">&copy; 2023 HomeComputer. Todos los derechos reservados.</p>
                </div>
                <div class="col-md-4">
                    <h3>Horario</h3>
                    <p class="pfot">Lunes a Viernes: 9:00 AM - 6:00 PM</p>
                    <p class="pfot">Sábado: 10:00 AM - 2:00 PM</p>
                    <p class="pfot">Domingo: Cerrado</p>
                </div>
                <div class="col-md-4">
                    <h3>Redes sociales</h3>
                    <ul class="list-unstyled">
                        <a href="https://www.whatsapp.com/?lang=es" target="_blank">
                            <img class="icono" src="{% static 'tienda/img/whatsapp.png' %}">
                        </a>
                        <a href="https://www.facebook.com" target="_blank">
                            <img class="icono" src="{% static 'tienda/img/facebook.png' %}">
                        </a>
                        <a href="https://www.instagram.com" target="_blank">
                            <img class="icono" src="{% static 'tienda/img/instagram.png' %}">
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    </body>
    </html>